<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vtb.vtb_project">


    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VtbProject">
        <activity
            android:name=".sign_in.SignIn"
            android:theme="@style/themeAuth" />
        <activity android:name=".personal_area.PersonalAreaActivity"
            android:screenOrientation="locked"/>
        <activity
            android:name=".open_vtb_card_steps.OpenVtbCardStepsActivity"
            android:screenOrientation="userPortrait"
            android:theme="@style/action_bar_white"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.vtb.vtb_project.authorization.Authorization"
            android:theme="@style/themeAuth" />
        <activity
            android:name=".on_boarding_about_fragments.OnBoardingAbout"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".create_account_and_visa_card.ShowAuthorizationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>